
.modal-container12{
  width:480px;
  height: 200px;
  padding: 25px;
  box-sizing: border-box;
}
.header{
font-weight: bold;
font-size:19px ;
margin-bottom: 8px;
}
.para{
font-size: 14px;
}
.btn-container12{
    display:flex;
    margin-top: 16px;
}

.login-btn12{
    width:200px;
    min-height:50px;
    background-color: #ffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #60b246;
    color: #60b246;
    transition: bottom 0.3s ease;
}
.t212{
    font-weight: 500;
}
.signin12{
    background: #60b246;
    color:#ffff;
    margin-left: 20px;
}
